@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Serif&display=swap');

@media (max-width: 768px) {
    .image {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 90%;
    }

    .description {
        margin-left: 30px;
        margin-top: 20px;
        font-family: 'Merriweather', sans-serif;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .image {
        width: 48%;
    }

    .description {
        margin-left: 20px;
        font-family: 'Merriweather', sans-serif;
    }
}

@media (min-width: 1200px) {
    .image {
        width: 48%;
    }

    .description {
        margin-left: 20px;
        font-family: 'Merriweather', sans-serif;
    }
}

.title {
    font-family: 'Lobster', sans-serif;
    font-size: 2.5rem;
}