@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Serif&display=swap');

.footer {
    background-color: rgb(246, 183, 248);
    color: black;
    padding: 20px;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-family: 'Noto Serif', sans-serif;
}

.footer-section {
    flex: 1;
    margin-right: 20px;
}

.footer-section h3 {
    color: black;
}

.footer-section p {
    margin-top: 10px;
}

.footer-links a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.opening-hours-list {
    list-style-type: none;
    padding: 0;
}

.opening-hours-list li {
    margin-bottom: 10px;
}

.opening-hours-list span {
    font-weight: bold;
    margin-right: 8px;
    display: inline-block;
    width: 80px;
}

/* .map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    border: 0;
    height: 100%;
    width: 100%;
    position: absolute;
} */

@media (max-width: 576px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        margin: 0;
        margin-bottom: 20px;
        text-align: center;
    }
}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {

}