.footer {
    background-color: rgb(254, 135, 204);
    color: black;
    padding: 20px;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-section {
    flex: 1;
    margin-right: 20px;
}

.footer-section h3 {
    color: black;
}

.footer-section p {
    margin-top: 10px;
}

.footer-links a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.opening-hours-list {
    list-style-type: none;
    padding: 0;
}

.opening-hours-list li {
    margin-bottom: 10px;
}

.opening-hours-list span {
    font-weight: bold;
    margin-right: 8px;
    display: inline-block;
    width: 80px;
    /* Adjust as needed */
}