@import url("./Pages/Home/Home.css");
@import url("./Pages/About/About.css");
@import url("./Pages/Blogs/Blogs.css");
@import url("./Pages/Contact/Contact.css");
@import url("./Pages/News/News.css");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}